@model PersonaModel
@{
    Layout = null;
    var alertMessage = ViewBag.AlertMessage;
}
@if (!string.IsNullOrEmpty(alertMessage))
{
    <script>
        alert('@alertMessage');
    </script>
}

<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesion</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="~/img/logo-1.svg" />
        </div>
        <div class="login-content">
            <form method="post" asp-action="Index">
                <img src="~/img/avatar-1.svg" />
                <h2 class="title">BIBLIOMUNDO</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>CORREO</h5>
                        <input asp-for="Correo" type="text" class="input" id="correo" name="correo" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>CONTRASEÑA</h5>
                        <input asp-for="Clave" type="password" class="input" id="clave" name="clave" required>
                    </div>
                </div>
                <input type="submit" class="btn" value="Ingresar">
            </form>
        </div>
    </div>
    <script src="~/js/main.js"></script>
</body>
</html>
