@model EditorialModel

<h2>Eliminar Editorial</h2>

<h4>¿Estás seguro de que deseas eliminar esta editorial?</h4>
<p>
    <strong>Id:</strong> @Model.Id <br />
    <strong>Nombre:</strong> @Model.Nombre
</p>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
